@inherits ReservationComponentBase
@using MedicalOffice.Shared.Entities;
<style>
    .validation-message{
        color:red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="tab-pane show" id="solid-rounded-justified-tab1">

                <div class="row">
                    <div class="col-12 col-sm-4 col-md-6">
                        <h4 class="mb-1">
                            @CurrentDateDay
                        </h4>
                        <p class="text-muted">
                            @CurrentNameDay
                        </p>
                    </div>
                </div>

                <div class="card booking-schedule schedule-widget">

                    <div class="schedule-header">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="day-slot">
                                    <ul>

                                        @foreach (var day in DaysReserves)
                                        {
                                            <li>
                                                <span>@day.Day.ToDayShamsi()</span>
                                                <span class="slot-date">
                                                    @day.Day.ToShamsi()
                                                </span>
                                            </li>
                                        }


                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="schedule-cont">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="time-slot">
                                    <ul class="clearfix">
                                        @foreach (var timeGroup in TimesReserves)
                                        {
                                            <li>
                                                @foreach (var time in timeGroup)
                                                {
                                                    <a class="timing  @SelectedClass(time)" @onclick="() => SetSelectedTime(time)">
                                                        @time.FromTime.ToString("hh\\:mm") - @time.ToTime.ToString("hh\\:mm")
                                                    </a>
                                                }
                                            </li>
                                        }


                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                @if (IsLoader)
                {
                    <div class="loader-container">
                        <div class="loader"></div>
                    </div>
                }

                <!--دکمه ادامه رزرو-->
                <div class="submit-section proceed-btn text-end @ButtonContinueReserve">
                    <a @onclick="ContinuePurchaseProcess" class="btn btn-primary submit-btn">
                        ادامه فرایند رزرو
                    </a>
                </div>

                <!--  باکس ادامه پر کردن اطلاعات واتصال به درگاه-->
                <section class="section section-featurebox @FinishInfo">
                    <div class="container">
                        <div class="section-header text-center">
                            <h2> تکمیل اطلاعات  </h2>
                            <p class="sub-title">
                                لطفاً اطلاعات شخصی خود را تکمیل کرده و سپس برای پرداخت دکمه را کلیک نمایید.
                            </p>
                        </div>
                        <div class="row justify-content-center">
                            <div class="feature-col-list">
                                <form>
                                    <EditForm Model="@ReserveDto" OnValidSubmit="SaveInfoAndConnectToPay">

                                        <DataAnnotationsValidator/>
                                        <ValidationSummary />
                                     
                                        <div class="row form-row">
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>نام</label>
                                                    <InputText @bind-Value="ReserveDto.FirstName" class="form-control" />
                                                    <ValidationMessage For="()=>ReserveDto.FirstName" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>نام خانوادگی</label>
                                                    <InputText @bind-Value="ReserveDto.LastName" class="form-control" />
                                                    <ValidationMessage For="()=>ReserveDto.LastName" />

                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>موبایل</label>
                                                    <InputText @bind-Value="ReserveDto.Mobile" class="form-control" />
                                                    <ValidationMessage For="()=>ReserveDto.Mobile" />

                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>کد ملی</label>
                                                    <InputText @bind-Value="ReserveDto.NationalCode" class="form-control" />
                                                    <ValidationMessage For="()=>ReserveDto.NationalCode" />

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">

                                                    <label> علت مراجعه </label>
                                           
                                                    <InputSelect class="form-select" @bind-Value="@ReserveDto.ReserveType">
                                                   
                                                        @foreach (var item2 in Enum.GetValues(typeof(ReserveTypeEnum)).Cast<ReserveTypeEnum>())
                                                        {
                                                            <option value="@item2">
                                                                @item2.GetDisplayName()
                                                            </option>
                                                        }
                                                    </InputSelect>

                                                    <ValidationMessage For="()=>ReserveDto.ReserveType" />

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-12">

                                                <button type="submit" class="btn  btn-success">
                                                    ذخیره و پرداخت
                                                </button>

                                                <button type="button" @onclick="CancellReserve" class="btn  btn-danger float-end">
                                                    لغو
                                                </button>

                                            </div>

                                        </div>
                                    </EditForm>
                                </form>

                            </div>
                        </div>
                    </div>
                </section>

                <!--پیغام-->
                <div class="alert alert-@MessageColor alert-dismissible fade show @MessageInfo" role="alert">
                    <strong>
                        @MessageText
                    </strong>  
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            </div>

        </div>
    </div>
</div>
