@inherits SliderComponentBase
<style>
    .home-banner {
        background-image: url('@Slider.Image');
    }
</style>
<section class="section home-banner">
    <div class="container-fluid">
      
            <div class="row banner-wrapper">

                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="banner-header">
                        <h1>@Slider.Title</h1>
                        <a class="btn btn-primary mt-4">رزرو کنید</a>
                        <a href="/contactus" class="btn btn-outline-primary mt-4 ms-2">‌تماس با ما</a>
                    </div>
                </div>

            </div>
       
     
    </div>
</section>


<section class="select-category">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 category-col d-flex">
                <div class="category-subox pb-0 d-flex flex-wrap w-100">
                    <h4>
                        @Slider.Property1
                    </h4>
                    <p>
                        @Slider.ShortDesc1
                    </p>
                    <div class="subox-img">
                        <div class="subox-circle">
                            <img src="assets/img/icons/vect-01.png" alt="" width="42">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 category-col d-flex">
                <div class="category-subox pb-0 d-flex flex-wrap w-100">
                    <h4>
                        @Slider.Property2
                    </h4>
                    <p>
                        @Slider.ShortDesc2
                    </p>
                    <div class="subox-img">
                        <div class="subox-circle">
                            <img src="assets/img/icons/vect-02.png" alt="" width="42">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 category-col d-flex">
                <div class="category-subox pb-0 d-flex flex-wrap w-100">
                    <h4>
                        @Slider.Property3
                    </h4>
                    <p>
                        @Slider.ShortDesc3
                    </p>                    <div class="subox-img">
                        <div class="subox-circle">
                            <img src="assets/img/icons/vect-03.png" alt="" width="42">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

