@inherits FooterBase

<footer class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            @if (!string.IsNullOrEmpty(Settings.Logo))
                            {
                                <img src="@Settings.Logo" alt="@Settings.SiteName">
                            }
                        </div>
                        <div class="footer-about-content">
                            @if (!string.IsNullOrEmpty(Settings.Logo))
                            {
                                <p>
                                    @Settings.ShortDescription
                                </p>
                            }

                            <div class="social-icon">
                                <ul>
                                    @if (!string.IsNullOrEmpty(Settings.Whatsapp))
                                    {
                                        <li>
                                            <a href="@Settings.Whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                        </li>
                                    }

                                    @if (!string.IsNullOrEmpty(Settings.Instagram))
                                    {
                                        <li>
                                            <a href="@Settings.Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    }

                                    @if (!string.IsNullOrEmpty(Settings.Telegram))
                                    {
                                        <li>
                                            <a href="@Settings.Telegram" target="_blank"><i class="fab fa-telegram"></i></a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">
                            دسترسی ها
                        </h2>
                        <ul>
                            <li>
                                <a href="/aboutus">‌ درباره ما</a>
                            </li>
                            <li>
                                <a href="/contactus">‌ تماس ما</a>
                            </li>
                            <li class="login-link">
                                <a href="/login">‌ورود / ثبت‌نام</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">
                            خدمات
                        </h2>
                        <ul>
                            <li>
                                <a href="/services">‌ خدمات و هزینه ها</a>
                            </li>
                            <li>
                                <a href="/prjects">‌ نمونه کار ها</a>

                            </li>
                            <li>
                                <a href="/reservation_times">‌ زمان های رزرو نوبت</a>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">‌تماس با ما</h2>
                        <ul>

                            @if (@ContactUs.Address1 != null)
                            {
                                <li>
                                    <p>
                                        <i class="far fa-compass"></i>
                                        @ContactUs.Address1
                                    </p>
                                </li>
                            }
                            @if (@ContactUs.Address2 != null)
                            {
                                <li>
                                    <p>
                                        <i class="far fa-compass"></i>
                                        @ContactUs.Address2
                                    </p>
                                </li>
                            }
                                <li>
                                    <p>                                       
                                        @if (@ContactUs.Mobile != null)
                                        {

                                            <i class="fas fa-mobile-alt"></i>
                                            @ContactUs.Mobile

                                        }
                                        @if (@ContactUs.PhoneNumber != null)
                                        {
                                            <span> - </span>
                                            @ContactUs.PhoneNumber
                                        }
                                    </p>
                                </li>
                           
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between">
                        <p> Created : 2023 </p>
                        <a href="https://mehransattary.ir"> برنامه نویس : مهران ستاری </a>
                    </div>
                </div>
            </div>
        </div>

    </footer>