@inherits HeaderBase
<div class="top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <ul class="d-flex justify-content-between align-items-center">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        شماره تماس :
                        @if (!string.IsNullOrEmpty(ContactUs.Mobile))
                        {
                            @ContactUs.Mobile
                        }
                        
                        @if (!string.IsNullOrEmpty(ContactUs.PhoneNumber))
                        {
                            <span> - </span>
                            @ContactUs.PhoneNumber
                        }

                    </li>
                  
                </ul>
                <ul class="d-flex justify-content-between align-items-center">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        @if (!string.IsNullOrEmpty(ContactUs.Address1))
                        {
                            @ContactUs.Address1
                        }
                        @if (!string.IsNullOrEmpty(ContactUs.Address2))
                        {
                            <span> - </span>
                            @ContactUs.Address2
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="index-2.html" class="navbar-brand logo">
                <img src="@Logo" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper ms-auto">
            <div class="menu-header">
                <a href="index-2.html" class="menu-logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li class="active">
                    <a href="/">خانه</a>
                </li>              
                <li>
                    <a href="/services" >‌ خدمات و هزینه ها</a>
                </li>
                <li>
                    <a href="/prjects">‌ نمونه کار ها</a>

                </li>
                <li>
                    <a href="/reservation_times">‌ زمان های رزرو نوبت</a>
                </li>
                <li>
                    <a href="/aboutus">‌ درباره ما</a>
                </li>
                <li>
                    <a href="/contactus">‌ تماس ما</a>
                </li>
                <AuthorizeView>

                    <Authorized>               
                        
                        <li class="login-link">
                            <a href="/login">‌خروج ‌</a>
                        </li>
                    </Authorized>

                    <NotAuthorized>
                        <li class="login-link">
                            <a href="/LogOut">‌ورود ‌</a>
                        </li>
                    </NotAuthorized>

                </AuthorizeView>
           
            </ul>



        </div>
        <ul class="nav header-navbar-rht">

               <AuthorizeView>

                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link header-login" @onclick="LogOut">‌ خروج ‌ </a>
                        </li>                      
                    </Authorized>

                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link header-login" href="/login">ورود‌</a>
                        </li>
                    </NotAuthorized>

                </AuthorizeView>

        
        </ul>
    </nav>
</header>
