@page "/contactus"
@inherits ContactUsBase


<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">‌تماس با ما</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">‌تماس با ما</h2>
            </div>
        </div>
    </div>
</div>


<section class="contact-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h3 class="mb-4">‌تماس با ما</h3>
                <p>
                    
                    @ContactUs.Title
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="contact-box w-100 d-flex flex-wrap">
                    <div class="infor-img">
                        <div class="image-circle">
                            <i class="feather-phone"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>شماره تماس</label>
                        <p>@ContactUs.PhoneNumber</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="contact-box w-100 d-flex flex-wrap">
                    <div class="infor-img">
                        <div class="image-circle bg-primary">
                            <i class="feather-mail"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>موبایل</label>
                        <p>
                            @ContactUs.Mobile
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="contact-box w-100 d-flex flex-wrap">
                    <div class="infor-img">
                        <div class="image-circle">
                            <i class="feather-map-pin"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>آدرس</label>
                        @if (!string.IsNullOrEmpty(ContactUs.Address1))
                        {
                            <p>
                                @ContactUs.Address1
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(ContactUs.Address2))
                        {
                            <p>
                                @ContactUs.Address2
                            </p>
                        }
                     

                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contact-map d-flex">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3459.716346058072!2d-95.5565430855612!3d29.872453233633234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640cfe4516785ed%3A0x774974592a609121!2s54%20Northwest%20Fwy%20%23558%2C%20Houston%2C%20TX%2077040%2C%20USA!5e0!3m2!1sen!2sin!4v1631855334452!5m2!1sen!2sin"
            allowfullscreen="" loading="lazy"></iframe>
</section>
